.inicio-div{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: "inicio-textos gallery";
    height: 100vh;
    width: 100%;
}

.inicio-fondo{
  height: 100vh;
  width: 100%;
  background-image: url(./../../public/fondoinicio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.inicio-textos{
    grid-area: inicio-textos;
}

$n:5; /* number of images*/

.gallery  {
  --d: 10s; /* duration */
  
  display: grid;
  grid-area: gallery;
  width: 220px;
  align-items: center;
  margin-left: 240px ;
  z-index: 1;
}
.gallery > img {
  grid-area: 1/1;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border: 10px solid #f2f2f2;
  box-shadow: 0 0 4px #0007;
  animation: slide var(--d) infinite;
  border-radius: 15px;
}
.gallery img:last-child {
  animation-name: slide-last;
}

@for $i from 1 to ($n + 1) {
  .gallery > img:nth-child(#{$i}) {
    animation-delay: calc(#{(1 - $i)/$n}*var(--d));
    --r: #{(-20 + random(40))*1deg};
  }
}
@keyframes slide {
  0%,100%,
  #{100.01 - 100/$n}% {transform: translateX(0%) rotate(var(--r));  z-index:3}
  #{50/$n}%           {transform: translateX(-120%) rotate(var(--r));z-index:3}
  #{50/$n + .01}%     {transform: translateX(-120%) rotate(var(--r));z-index:-3}
  #{100/$n}%,
  #{100 - 100/$n}%    {transform: translateX(0%)  rotate(var(--r)); z-index:-3}
}

@keyframes slide-last {
  0%,100%,
  #{100.01 - 50/$n}% {transform: translateX(0%) rotate(var(--r));  z-index:3}
  #{50/$n}%          {transform: translateX(120%) rotate(var(--r));z-index:3}
  #{50/$n + .01}%    {transform: translateX(120%) rotate(var(--r));z-index:-3}
  #{100/$n}%,
  #{100 - 50/$n}%    {transform: translateX(0%) rotate(var(--r)); z-index:-3}
}

